<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/util 
    http://www.springframework.org/schema/util/spring-util-3.0.xsd">

<!-- 	<bean name="unionServer" class="lds.gw.bean.UnionGwServer" -->
<!-- 		init-method="start" destroy-method="stop"> -->
<!-- 		<property name="port" value="22114"/> -->
<!-- 	</bean> -->
	<bean name="client" class="lds.gw.bean.Client" destroy-method="stop">
		<property name="port" value="9000"/>
		<property name="ip" value="192.168.30.107"/>
	</bean>
</beans>